/*
    Project Name: food Project
    version:1.0
    author:Stack Learner


    Table Of Content
==============================
    1.Header Section 
    2.Banner Section
    3.Photo Section

*/

/* Default Css Start*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* Preloader ------------*/


.preloader_gif {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    z-index: 9999;
}

.preloader_gif img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* Header Section Start------------*/

.logo {
    position: fixed;
    margin: 0px 0 10px 60px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding:30px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 100;

}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 20px;
    transition: 1s;
    text-align: right;;
}

nav.black ul {
    background: #202F38;
}



nav ul li {
    display: inline-block;
    padding: 0px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.joinbtn {
    background: #00897B;
    width:80px;
    text-align: center;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #00796b;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.menu-items{
    padding-right:100px;
}

/* Banner Section Start------------*/

.banner-area {
    height: 88vh;
    background: url(../img/banner.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}

.banner-area:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -2;

}



.banner-content {
    width: 850px;
}

.banner-content .banner-title{
    color:white;
    font-size:48px;
}

.banner-content p {
    color: #fff;
    font-size: 25px;
    margin-top:20px;
}

form.example{
    display:flex;
    margin-top:40px;
}

form.example input[type=text] {
    padding: 25px;
    font-size: 17px;
    width: 80%;
    background: #f1f1f1;
    border-radius: 7px 0 0 7px;
    border:none;
    outline:none;
}


form.example button {
    padding: 25px;
    color: #000;
    font-size: 17px;
    cursor: pointer;
    border: none;
    outline:none;
    border-radius:0 7px 7px 0;
    display:flex;
    justify-content: center;

}



/* Clear floats */

.tre {
    margin-top: 10px;
    color:white;
}


/* Photo Section Start------------*/

.slides-section {
    width: 80%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3900px;
    overflow: hidden;
    position: relative;
}

.img-style {
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.img-style img {
    width: 98%;
    margin: 5px;
    cursor: pointer;
}

.img-style::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: .5s;
}

.img-style:hover::before {
    width: 100%;
    height: 100%;
}

.button-wrap {
    width: 1200px;
    margin: 0rem auto;
    text-align: center;
}

.photo-btn {
    padding: 10px 50px;
    background: #00897B;
    color: #fff;
    margin-bottom: 40px;
}

button:focus {
    outline: none;
}


/* Contributr Section Start -------------------*/

.contribute_parts {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.contribute_parts h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

.contribute_parts p {
    font-weight: 400;
    margin-top: 10px;
    color: #424242;
}

.contribute-section {
    width: 800px;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 60px 0 0 0;
    
}

.contribute-item {
    margin: 30px;
}

.contribute-item i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background: #00796B;
    border-radius: 50%;
    margin-bottom: 10px;
    color: #fff;
}

.contribute-item p {
    font-weight: 400;
    color: #424242;
}

/* Footer Start*/

.main-footer {
    background: #001320;
    color: #fff;
    margin-top: 40px;
    padding-bottom: 30px;
}

.footer {
    width: 1000px;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 60px 0 0px 0;
}

.footer-item {
    text-align: left;
}

.footer-item h4 {
    font-weight: 500;
    font-size: 16px;
    color: #E0E0E0;
}

.footer-item ul {
    margin-top: 20px;
}

.footer-item ul li {
    color: #9E9E9E;
}

.social-media {
    margin-bottom: 20px;
}

hr.line {
    text-align: center;
    /*    width:70%;*/
    margin: 40px 150px;
    margin: 0 rem auto;
    border-top: 0px solid #f1f1f1;
}

/* Sub Footer Start*/

.sub-footer {
    width: 1000px;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.footer_right {
    text-align: right;
}

.footer_right.text-left select {
    background: #001320;
    color: #fff;
    padding: 6px;
}

.button-wrap input:focus {
    outline-offset: inherit;
}

.footer_mid {
    text-align: left;
}

.footer_mid p {
    color: #9E9E9E;
}
