.loader-bg{

    z-index:99999;
    background:rgb(218, 33, 156);
    width:100vh;
    height: 100vw;
    display:flex;
    align-items:center;
    justify-content:center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    height: 100vh;
    width:100vw;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 70vh;
    background: url(../img/hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    
}



.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 100;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #00796b;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #00796b;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #00796b;
    }

    nav.black ul {
          background: #00796b;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}

.slides-section{
    width:80%;
    margin:0rem auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:4200px;
    overflow:hidden;
    position: relative;
}

.img-style{
    margin:5px;
    cursor:pointer;
    position: relative;
}
.img-style img{
    width:98%;
    margin:5px;
    cursor:pointer;
}
.img-style::before{
    content:"";
    position:absolute;
    width:0;
    height:0;
    background:black;
    top:0;
    left:0;
    opacity:0.8;
    transition:.5s;
}
.img-style:hover::before{
    width:100%;
    height:100%;
}

.overlay{
    content:'';
    position:absolute;
    width:76%;
    bottom:-219rem;
    left:13.2rem;
    box-shadow: -10px -20px 60px 45px #00796b;
    z-index:1000;
}
.button{
    width:450px;
    height:50px;
    margin:0 auto;
    background:#00796b;
    color:white;
    font-size:20px;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:5px;
    
}
.button-wrap{
    text-align: center;
    margin-top:140px;
}



@media (max-width:1000px){
    .slides-section{
        grid-template-columns: 48% 48%;
    }
}
@media (max-width:600px){
    .slides-section{
        grid-template-columns:95%;
    }
}

.footer{
    margin-top:20rem;
}