@media(max-width:575px) {

    /* .joinbtn {
        background: transparent;
    }

    .banner-content {

        margin: 0 auto;
        padding: 220px 0 0 0;
        text-align: center;

    }

    .banner-content h2 {
        color: #fff;
        margin-bottom: 6px;

    }

    .banner-content p {
        margin: 20px 30px;
    } */

    .contribute_parts {
        width: 400px;
    }

    .contribute-section {
        width: 400px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr;

    }

    .footer {
        width: 400px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px;

    }

    hr.line {
        border: none;
    }

    .sub-footer {
        width: 400px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px
    }

    .button-wrap {
        width: 400px;
        margin: 0rem auto;
        text-align: center;
    }

}

@media(min-width:576px) and (max-width:767px) {
    .joinbtn {
        background: none;
    }


    .contribute_parts {
        width: 500px;
    }

    .button-wrap {
        width: 500px;
        margin: 0rem auto;
        text-align: center;
    }

    .contribute-section {
        width: 400px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr;

    }

    .footer {
        width: 500px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px;

    }

    hr.line {
        border: none;
    }

    .sub-footer {
        width: 500px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px
    }


}

@media(min-width:768px) and (max-width:991px) {
    .joinbtn {
        background: none;
    }

    .contribute_parts {
        width: 600px;
    }

    .button-wrap {
        width: 600px;
        margin: 0rem auto;
        text-align: center;
    }

    .contribute-section {
        width: 600px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .footer {
        width: 600px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px;

    }

    hr.line {
        border: none;
    }

    .sub-footer {
        width: 600px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px
    }


}


@media(min-width:992px) and (max-width:1199px) {
    
    
    .button-wrap {
        width: 800px;
        margin: 0rem auto;
        text-align: center;
    }
    
    .footer {
        width: 800px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px;

    }

    

    .sub-footer {
        width: 800px;
        margin: 0rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        grid-column: 30px
    }

}




















@media (max-width:1000px) {
    .slides-section {
        grid-template-columns: 48% 48%;
    }
}

@media (max-width:600px) {
    .slides-section {
        grid-template-columns: 95%;
    }
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #00796b;
    }

    nav.black ul {
        background: #00796b;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}
